@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.Help {
  text-align: center;
}

code {
  font-family: "JetBrains Mono";
}

.info {
  margin: 0px 100px 0px 100px;
}